<html>

<head>
    <link href="/css/tablestyle.css" rel="stylesheet" type="text/css">
    <script src="/js/enable_submitbutton.js" type="text/javascript"></script>
</head>
<h1>
    <center>Stock Order Execution System</center>
</h1>
<hr/>

<body>
    <br/>
    <center>
        <form ref='uploadForm' id='uploadForm' method='post' encType="multipart/form-data">
            <input type="file" onchange='enableButton()' name="soes" accept=".csv, text/csv" />
            <input id="submit" type='submit' value='Submit' disabled />
        </form>
        

        <!-- Generate Table With Data -->
        <% try {%>
            <% if (results.length > 0) { %>
                <table id="myTable">
                    <%include partials/table_header.ejs%>
                    <% for(var i = 0;i<results.length;i++) {%>
                        <tr>
                            <td>
                                <%=results[i].Id%>
                            </td>
                            <td>
                                <%=results[i].Side%>
                            </td>
                            <td>
                                <%=results[i].Company%>
                            </td>
                            <td>
                                <%=results[i].Quantity%>
                            </td>
                            <td>
                                <%=results[i].RemainingQuantity%>
                            </td>
                            <td>
                                <%=results[i].Status%>
                            </td>
                        </tr>
                        <% } %>
                </table>
                <% } 
        } catch(err) {
    }%>
    </center>
</body>

</html>